@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "variables";

body {
  overflow: hidden;
  height: 100vh;
}

.corestudio-app {
  background-color: #EBEBEC;
  font-family: 'Roboto', sans-serif;
  margin: 0;

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  md-icon.fa {
    font-size: 24px;

    &.large-icon {
      font-size: $large-icon;
      width: $large-icon;
      height: $large-icon;
    }
  }

  .mat-toolbar {
    min-height: $header-bar-height;

    .mat-toolbar-row {
      height: $header-bar-height;
    }
  }
}

md-datepicker-content {
  width: 296px;
  height: 314px;
}