@import "../../../node_modules/@angular/material/theming";

@include mat-core();

$corestudio-black: (
        50 : #e6e6e6,
        100 : #bfbfbf,
        200 : #959595,
        300 : #6b6b6b,
        400 : #4b4b4b,
        500 : #2b2b2b,
        600 : #262626,
        700 : #202020,
        800 : #1a1a1a,
        900 : #101010,
        A100 : #ee6969,
        A200 : #e93b3b,
        A400 : #f10000,
        A700 : #d80000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$corestudio-gold: (
        50 : #f3f1eb,
        100 : #e2ddce,
        200 : #cfc6ad,
        300 : #bbaf8c,
        400 : #ad9d74,
        500 : #9e8c5b,
        600 : #968453,
        700 : #8c7949,
        800 : #826f40,
        900 : #705c2f,
        A100 : #ffe9ba,
        A200 : #ffd887,
        A400 : #ffc854,
        A700 : #ffc03b,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$corestudio-primary: mat-palette($corestudio-black, 500);
$corestudio-accent: mat-palette($corestudio-gold, 500);

$corestudio-theme: mat-light-theme($corestudio-primary, $corestudio-accent);

@include angular-material-theme($corestudio-theme);

@include primary-color-base-styles($corestudio-theme);
@include accent-color-base-styles($corestudio-theme);
@include warn-color-base-styles($corestudio-theme);