@import "../../assets/scss/variables";

.sidebar-wrapper {
  height: calc(100vh - #{$header-bar-height});
  width: 225px;
  position: absolute;

  button {
    width: 100%;
    height: 50px;
    color: white;
    text-align: left;
    color: #bfbfbf;

    &:hover,
    &.active {
      background-color: black;
      color: white;
    }

    md-icon {
      margin-right: 10px;
    }
  }
}