<div class="primary-color-bg sidebar-wrapper">

  <button md-button [routerLink]="['/inbox']" routerLinkActive="active">
    <md-icon fontIcon="fa-inbox"></md-icon>
    <span>Principal</span>
  </button>

  <button md-button [routerLink]="['/clients']" routerLinkActive="active">
    <md-icon fontIcon="fa-user"></md-icon>
    <span>Alumnos</span>
  </button>

  <button md-button>
    <md-icon fontIcon="fa-group"></md-icon>
    <span>Grupos</span>
  </button>

  <button md-button>
    <md-icon fontIcon="fa-graduation-cap"></md-icon>
    <span>Profesores</span>
  </button>

  <button md-button>
    <md-icon fontIcon="fa-wrench"></md-icon>
    <span>Administrar</span>
  </button>

  <button md-button>
    <md-icon fontIcon="fa-calculator"></md-icon>
    <span>Contabilidad</span>
  </button>

</div>