@import "../../assets/scss/variables";

.content-wrapper {
  overflow: auto;
  height: calc(100% - #{$header-bar-height} - 2 * #{$content-padding});
  margin-left: $sidebar-width;
  padding: $content-padding;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: .4;
  z-index: 10;
}

md-progress-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
